# Ignore dataset files and large ZIP archives
fruits360/fruits.zip
fruits360/*
!fruits360/fruits10/

# Ignore Kaggle API credentials
.kaggle/

# Ignore Python cache and logs
__pycache__/
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/
